## This is a example of how you will be doing projects in python.
### Use markdown cells -OR- comments in cells to place AT LEAST the question number you are working on.

3.	Import the required packages

In [101]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

4. Using the pandas `read_csv()` method, read the GDP dataset into your notebook as a DataFrame called `gdp_df`. Take a look at the first few and last few rows to familiarize yourself with what is contained in this dataset.

In [102]:
gdp_df = pd.read_csv('C:/Users/amand/OneDrive/Documents/DA14/Python/gdp-and-internet-usage-alroman14/data/gdp_percapita.csv')

In [103]:
gdp_df.head()

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2023  1992.424394              NaN
1     Afghanistan  2022  1981.710168              NaN
2     Afghanistan  2021  2144.166570              NaN
3     Afghanistan  2020  2769.685745              NaN
4     Afghanistan  2019  2927.245144              NaN

In [104]:
gdp_df.tail()

     Country or Area  Year        Value  Value Footnotes
8214        Zimbabwe  1994  3965.730986              NaN
8215        Zimbabwe  1993  3634.750494              NaN
8216        Zimbabwe  1992  3649.891947              NaN
8217        Zimbabwe  1991  4126.405247              NaN
8218        Zimbabwe  1990  4013.299059              NaN

5. How many rows and columns are in `gdp_df`? What are the data types of each column?

In [105]:
num_rows = len(gdp_df)
print(num_rows)

8219

In [106]:
num_columns = len(gdp_df.columns)
print(num_columns)

4

In [107]:
rows, cols = gdp_df.shape
print(rows, cols)
print(f"Rows: {rows}, Columns: {cols}")

8219 4
Rows: 8219, Columns: 4

6. Drop the `Value Footnotes` column and rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'.

In [108]:
gdp_df = gdp_df.drop('Value Footnotes', axis = 1)
gdp_df = gdp_df.rename(columns={'Country or Area': 'Country', 'Value': 'GDP_Per_Capita'})
gdp_df.head()

       Country  Year  GDP_Per_Capita
0  Afghanistan  2023     1992.424394
1  Afghanistan  2022     1981.710168
2  Afghanistan  2021     2144.166570
3  Afghanistan  2020     2769.685745
4  Afghanistan  2019     2927.245144

7a. How many countries have data for all years?

In [109]:
country_group = gdp_df.groupby('Country').count()
all_country_group = country_group[country_group['Year'] == 34].count()
print(all_country_group)

Year              228
GDP_Per_Capita    228
dtype: int64

7b. Which countries are missing many years of data?

In [110]:
country_group = gdp_df.groupby('Country').count()
filtered_country_group = country_group[country_group['Year'] < 34]
filtered_country_group = filtered_country_group.rename(columns={'Year': 'Years of Data', 'GDP_Per_Capita': 'Missing No. of Years'})
filtered_country_group["Missing No. of Years"] = 34 - filtered_country_group["Missing No. of Years"]
sorted_filtered_country_group = filtered_country_group.sort_values(by=['Missing No. of Years'], ascending = False)
display(sorted_filtered_country_group)

                           Years of Data  Missing No. of Years
Country
Djibouti                              11                    23
Turks and Caicos Islands              13                    21
Sint Maarten (Dutch part)             15                    19
Faroe Islands                         16                    18
Kosovo                                16                    18
Cayman Islands                        18                    16
Virgin Islands                        21                    13
Afghanistan                           24                    10
CuraÃ§ao                              24                    10
San Marino                            26                     8
Montenegro                            27                     7
Serbia                                29                     5
West Bank and Gaza                    30                     4
Greenland                             32                     2
Bhutan                                33                     1
Somalia                               33                     1
Syrian Arab Republic                  33                     1
Tonga                                 33                     1
Lebanon                               33                     1

7c. Look at the number of observations per year. What do you notice?

A: The number of observations increases each year until plateauing at 247 from 2013-2021 before declining. There are also only 195 countries in the world, so the number of observations exceeds the total number of countries.

In [111]:
year_group = gdp_df.groupby('Year').count()
year_group = year_group.rename(columns={'Country': 'No. of Observations'})
year_group = year_group.drop('GDP_Per_Capita', axis = 1)
display(year_group)

      No. of Observations
Year
1990                  233
1991                  234
1992                  234
1993                  234
1994                  235
1995                  236
1996                  236
1997                  238
1998                  238
1999                  238
2000                  240
2001                  240
2002                  241
2003                  241
2004                  241
2005                  241
2006                  242
2007                  242
2008                  244
2009                  245
2010                  245
2011                  246
2012                  246
2013                  247
2014                  247
2015                  247
2016                  247
2017                  247
2018                  247
2019                  247
2020                  247
2021                  247
2022                  246
2023                  240

8. In this question, you're going to create some plots to show the distribution of GDP per capita for the year 2020. Go to the Python Graph Gallery (https://www.python-graph-gallery.com/) and look at the different types of plots under the Distribution section. Create a histogram, a density plot, a boxplot, and a violin plot. What do you notice when you look at these plots? How do the plots compare and what information can you get out of one type that you can't necessarily get out of the others?

9. What was the median GDP per capita value in 2020?

10. For this question, you're going to create some visualizations to compare GDP per capita values for the years 1990, 2000, 2010, and 2020. Start by subsetting your data to just these 4 years into a new DataFrame named gdp_decades. Using this, create the following 4 plots:
	* A boxplot
	* A barplot (check out the Barplot with Seaborn section: https://www.python-graph-gallery.com/barplot/#Seaborn)
	* A scatterplot
	* A scatterplot with a trend line overlaid (see this regplot example: https://www.python-graph-gallery.com/42-custom-linear-regression-fit-seaborn)  
Comment on what you observe has happened to GDP values over time and the relative strengths and weaknesses of each type of plot.

11. Which country was the first to have a GDP per capita greater than $100,000?